@import '../../styles/variables.scss';

.home {
  width: 100%;
}
.wrapper__text {
  width: 100%;
  border-bottom-left-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
  color: $primary-color;
  text-shadow: 1px 3px 4px rgba(255, 255, 255, 1);
  padding-top: 10px;
  background: $background-color;
}
.sub_title {
  padding-top: 5px;
  font-weight: 600;
  text-align: center;
  font-size: 25px;
}
.title {
  font-weight: 700;
  text-align: center;
  font-size: 45px;
  padding-bottom: 10px;
}

//============Search==============//
.search {
  margin-top: 20px;
  margin-left: 30px;
  padding-left: 10px;
  display: flex;
  justify-content: space-between;
  width: 56%;
  border-radius: $border-radius;
  border: 3px solid $secondary-color;
}
.input__search {
  border: none;
  padding: 7px;
  width: 80%;
  outline: none;
}
::placeholder {
  font-size: 16px;
}
.icon__search {
  cursor: pointer;
  margin-right: 10px;
  margin-top: 5px;
  color: #aaaaac;
}
//==============Cards============//
.cards {
  display: flex;
  margin: 0 auto;
  width: 95%;
  justify-content: space-around;
  flex-wrap: wrap;
}
ul.pages {
  color: #b47768;
  font-size: 20px;
  margin-top: 50px;
  margin-left: 20px;
  margin-bottom: 20px;
  width: 250px;
  list-style: none;

  li.list {
    transition: 0.3s;
    cursor: pointer;
    margin-left: 20px;
    display: inline-block;
    text-align: center;
    line-height: 2;
    width: 40px;
    height: 40px;
    border: 2px solid $primary-color;
    border-radius: 50%;
    &:hover {
      color: #fff;
      background: $primary-color;
    }
  }
}
.active__page {
  transition: 0.3s;
  cursor: pointer;
  margin-left: 20px;
  display: inline-block;
  text-align: center;
  line-height: 2;
  width: 40px;
  height: 40px;
  border: 2px solid $primary-color;
  border-radius: 50%;
  color: #fff;
  background: $primary-color;
}
